In [1]:
import pandas as pd

In [31]:
import os
import csv

total_months= []
total_profits= []

In [17]:
#To read CSV file 
data_file= "Resources/budget_data.csv"

In [21]:
data_file_df= pd.read_csv(data_file)
data_file_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [22]:
data_file_df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [23]:
#To find the total profit/losses
data_file_df.sum()

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [24]:
data_file_df.sum(Date)

NameError: name 'Date' is not defined

In [25]:
data_file_df.sum(months)

NameError: name 'months' is not defined

In [26]:
data_file_df.sum(row[0])

NameError: name 'row' is not defined

In [27]:
data_file_df.sum(0)

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [28]:
data_file_df.sum(Date)

NameError: name 'Date' is not defined

In [29]:
data_file_df.append(row[0])

NameError: name 'row' is not defined

In [30]:
Date.append(row[0])

NameError: name 'Date' is not defined

In [32]:
for row in csvreader:
    total_months.append(row[0])

ValueError: I/O operation on closed file.

In [33]:
for row in data_file_df:
    total_months.append(row[0])

In [34]:
print(total_months)

['D', 'P']

In [35]:
for i in data_file_df:
    data_file_df.append(i[0])

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [36]:
data_file_df.sum(axis=0)

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [37]:
data_file_df.sum(axis=1)

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Length: 86, dtype: int64

In [40]:
data_file_df.pct_change(axis='Profit/Losses')

ValueError: No axis named Profit/Losses for object type DataFrame